{% extends 'base.html'%}

{% block content %}
<div class="container mt-4">
  <h2>Products </h2>
  <a href="{% url 'product-add' %}" class="btn btn-success mb-3">Add Products</a>
  <table class="table table-bordered">
    <thead>
      <tr><th>Name</th><th>Description</th><th>Actions</th></tr>
    </thead>
    <tbody>
      {% for p in products %}
        <tr>
          <td>{{ p.name }}</td>
          <td>{{ p.description }}</td>
          <td>
{#            <a href="{% url 'product-edit' p.pk %}" class="btn btn-primary btn-sm">Edit</a>#}
{#            <a href="{% url 'product-delete' p.pk %}" class="btn btn-danger btn-sm">Delete</a>#}
          </td>
        </tr>
      {% empty %}
        <tr><td colspan="7">No products found.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
