{% extends 'base.html'%}
{% block content %}
<div class="container mt-4">
  <h2>Owners</h2>
  <a href="{% url 'ownerdetails-add' %}" class="btn btn-success mb-3">Add Owner Details</a>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>First Name </th>
        <th>Last Name </th>
        <th>Address </th>
        <th>Contact</th>
        <th>Mobile</th>
      </tr>
    </thead>
    <tbody>
      {% for ownerdetail in ownerdetails %}
        <tr>
          <td>{{ ownerdetail.first_name }}</td>
          <td>{{ ownerdetail.last_name }}</td>
          <td>{{ ownerdetail.address }}</td>
          <td>{{ ownerdetail.contact }}</td>
          <td>{{ ownerdetail.mobile }}</td>

          <td>
            <a href="{% url 'ownerdetails-edit' ownerdetail.pk %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'ownerdetails-delete' ownerdetail.pk %}" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr><td colspan="4">No buyers found.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
