{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Sales Bills</h2>
    <a href="{% url 'sales:salesbill-add' %}" class="btn btn-primary mb-3">Add Sale</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Buyer</th>
                <th>Date</th>
                <th>Vehicle No.</th>
                <th>Transport Cost</th>
            </tr>
        </thead>
        <tbody>

            {% for sales in salesbills %}
            <tr>
                <td><a href="{% url 'people:buyer-profile' sales.buyer.pk %}">{{ sales.buyer.company_name }}</a></td>
                <td>{{ sales.date }}</td>
                <td>{{ sales.vehicle_number }}</td>
                <td>{{ sales.transportation_cost }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No sales found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}